:root{
  margin: 0px;
  padding: 0px;

  /* --background-color-primary: #ffffff;
  --background-color-secondary :#F8F9FA; */
  --background-color-primary: #f1eee4;
  --background-color-secondary :#DCD9D0;


}

/* Visually hidden class for screen readers */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}